<h3 >Listing Writers</h3>
<table class="table table-condensed">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Screen Name</th>
    <th>Gender</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @writers.each do |writer| %>
  <tr>
    <td><%= writer.first_name %></td>
    <td><%= writer.last_name %></td>
    <td><%= writer.screen_name %></td>
    <td><%= writer.gender %></td>
    <td><%= writer.user.email %></td>
    <td><%= link_to 'Show', writer %></td>
    <td><%= link_to 'Edit', edit_writer_path(writer) %></td>
    <td><%= link_to 'Delete', writer, method: :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New Writer', new_writer_path %>

