<p>
  <label>First Name:</label>
  <%= @writer.first_name %>
</p>

<p>
  <label>Last Name:</label>
  <%= @writer.last_name %>
</p>

<p>
  <label>Screen Name:</label>
  <%= @writer.screen_name %>
</p>

<p>
  <label>Gender:</label>
  <%= @writer.gender %>
</p>

<p>
  <label>Email:</label>
  <%= @writer.user.email %>
</p>
<% if current_user.nil? %>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>